// Variabili scss per i colori
$color-black: #000;
$color-background: #f5f5f5;
$color-text: #333;

.app-container {
  color: $color-black;
  min-height: 100vh;
  background-color: $color-background;
  padding: 1.25rem;

  h1, h2 {
    text-align: center;
    font-size: 2rem; 
    color: $color-text;
    margin-bottom: 1.875rem;
  }
}