// Variabili scss per i colori
$color-black-dark: #000;
$color-black-medium: #111;
$color-black-lighter: #222;
$color-gray: #555;
$color-light-square: #d4a574;
$color-dark-square: #8b5a3c;
$color-white: #fff;
$border-color: $color-black-dark;

// Variabili per dimensioni
$board-size: 37.5rem;
$border-width: 0.125rem;

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: $board-size;
  aspect-ratio: 1 / 1;
  border: $border-width solid $border-color;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;

  &.light {
    background-color: $color-light-square;
  }

  &.dark {
    background-color: $color-dark-square;
  }
}

.piece {
  width: 80%;
  height: 80%;
}

.select {
  max-width: 26rem;       
  margin: 0;              
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-size: 1.6rem;   
    font-weight: 700;
    margin: 0 0 0.5rem 0;
  }

  span {
    font-size: 1.05rem; 
    font-weight: 500;
    color: $color-gray;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;         
    width: 100%;
  }

  button {
    display: block;
    width: 100%;
    padding: 0.9rem 1.1rem; 
    font-size: 1.05rem;
    border-radius: 0.8rem;
    border: 1px solid $color-black-lighter;
    background: $color-black-medium;
    color: $color-white;
    cursor: pointer;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;             
}

.back {
  background: transparent;
  color: $color-black-medium;
  border: 1px solid $color-black-lighter;
}

/* TIMER / GAME OVER */
.timer-display {
  display: flex;
  gap: 2.6rem;
  margin: 2rem 0;
}

.game-over {
  margin-bottom: 2rem;
}
