// scacchiera.scss
.scacchiera-container {
  padding: 20px;
  text-align: center;

  // & indica il selettore padre in SCSS
  // Voglio modificare scacchiera-container__titolo 
  &__titolo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  // Voglio modificare scacchiera-container__board
  &__board {
    margin: 0 auto;
    
  }
}