// scacchiera.scss
.scacchiera-container {
  padding: 20px;
  text-align: center;

h2 {

  color: #000;
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;

}

.scacchiera-board {
  width: 400px;
  height: 400px;
}
}